{name, "dnssd"}.
{description, "Erlang interface to Apple's Bonjour DNS Service Discovery implementation"}.
{homepage, "https://github.com/andrewtj/dnssd_erlang"}.
{url, {git, "https://github.com/andrewtj/dnssd_erlang.git", {branch, "master"}}}.
{authors, ["Andrew Tunnell-Jones <andrew@tj.id.au>"]}.
{license, "Apache License 2.0", "LICENSE"}.
{requires, ["edown"]}.
{applications, [dnssd]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
